* {
    font-family: 'Roboto', sans-serif;
    background-color: #1d1d1d;
    color: white;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.navbar {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin: 25px;
}
.navbar > a:nth-child(1) {
    display: inherit;
    cursor: pointer;
}
.navbar > a:nth-child(1) > h1:nth-child(2) {
    color: #c619ff;
}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    gap: 75px;
    padding: 0;
}
.col-1 {
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.col-1 h1 {
    font-size: 46px;
    font-weight: bold;
}
.col-1 h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
}
.col-1 p {
font-weight: 500;
}
.col-2 {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.col-2 .cam-img-1{
    max-width: 400px;
}
.cam-img-1{
    border-radius: 25px;

}
#cam-section-3{
    background-color: #e5d5c3;
    padding: 10px;
    display: flex;
    gap: 25px;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.cam-img-box-3 {
    order: 1;
}
#cam-img-box-3 {
    background: center;
}
.cam-section-text-3 {
    order: 2;
}
.cam-img-3 {
    max-width: 300pt;
    max-height: 300pt;
    filter: drop-shadow(0 0 0.75rem);
    border-radius: 25px;
    color: black;
}
.cam-header-3 {
    background: center;
    color: black;
}
.cam-subtext-3 {
    background: center;
    color: black;
}
#cam-section-text-3 {
    background: center;
}
#cam-section-3 {
    padding: 5%;
}
p {
    font-style: italic;
}
@media only screen and (max-width:1025px) {
    .row, .sections {
        flex-direction:column-reverse ;
        margin: 75px 0;
        gap: 25px;
    }
    .col-2 .cam-img-1 {
        max-width: 300px;
    }
    .cam-header-3 {
    text-align: center;
    }
    .cam-subtext-3 {
    text-align: center;
    }
    .cam-img-3 {
        max-width: 200pt;
        max-height: 200pt;
        margin-top: 25px;
    }
    .row {
        text-align: center;
    }
    .navbar{
        justify-content: center;
        margin: 0;
    }    
}